server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: refresh,health

spring:
  cloud:
    kubernetes:
      reload:
        enabled: true
        strategy: refresh
        mode: event
      config:
        name: java-config
        namespace: ${POD_NAMESPACE:config-hot-reload}